*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 100px;
    background-color: #fc3f3f;
    color: rgb(0, 0, 0);
    border-bottom: 4px solid #fdb347;
}
.header_name {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header_text {
    font-family: 'Lobster', sans-serif;
    font-size: 3vw;
    margin-left: 15vw;
}
.icon_btn {
    background-color: #fc3f3f;
    border: none;
    color: rgb(0, 0, 0);
    height: 100%;
    font-size: 1.5vw;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}
.icon_btn:hover {
    background-color: #fa2424;
}
.container_list {
    width: 100%;
    height: 100%;
    display: flex;
    min-height: 750px;
    justify-content: center;
    flex-wrap: wrap;
}
footer {
    width: 100%;
    height: 150px;
    background-color: #fc3f3f;
    border-top: 4px solid #fdb347;
}
.footer_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-top: 10px;
}
.grafik {
    width: 12%;
    height: 100%;
    margin-left: 40px;
    color: rgb(0, 0, 0);
}
.grf {
    display: flex;
    justify-content: space-between;
}
.social {
    width: 30%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}
.social img {
    width: 2.5vw;
    height: 2.5vw;
    object-fit: contain;
}
.bold_text {
    font-size: 1vw;
    font-weight: 700;
}
.grf p {
    font-size: 1vw;
}
.grafik_title {
    text-align: center;
    font-size: 1.5vw;
    font-weight: 700;
}
.contacts {
    width: 35%;
    height: 100%;
    color: rgb(0, 0, 0);
    position: relative;
}
.contn {
    display: flex;
    justify-content: space-between;
}
.cont-title {
    text-align: center;
    color: rgb(4, 4, 4);
    font-size: 1.5vw;
    font-weight: 700;
}
.icon_ctnt img,
.txt_ctnt img {
    width: 1.5vw;
    height: 1.5vw;
    object-fit: contain;
    margin-right: 10px;
    margin-top: 5px;
}
.tak {
    font-size: 1.5vw;
    padding-bottom: 15px;
}
.poisk {
    margin-bottom: 5px;
    display: flex;
}
.poisk input {
    width: 35vw;
    height: 2vw;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
    border: none;
    margin-left: 15px;
}
input::placeholder {
    font-size: 1.3vw;
    padding-left: 10px;
}
.poisk-button img {
    width: 2vw;
    height: 1.5vw;
    margin: 0;
}
.poisk-btn-ico {
    width: 3vw;
    background-color: bisque;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.poisk-btn-ico:hover {
    cursor: pointer;
    background-color: rgb(8, 114, 184);
    color: #e5fb69;
}
.porivn {
    bottom: 5px;
    width: 2vw;
    height: 2vw;
}

.porivn img {
    width: 100%;
    height: 100%;
}

.porivn:hover,
.like_btn_img:hover {
    transform: scale(1.1);
    transition: all 0.2s ease;
}

.top_header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.bottom_header {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 10vw;

}

.like_btn img {
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: #fc3f3f;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.like {
    width: 2vw;
    height: 2vw;
    margin-left: 15px;
}
#slider {/*положення слайдера*/
position: relative;
text-align: left;
margin-left: 15px;
top: 0px;
}
#slider article {/*фото справа один від одного*/
    width: 20%;
    float: left;
}
#slider .image {/*розмір блока з фото*/
    width: 500%;
    line-height: 0;
}
#overflow {/*закриваємо все що за межами цього блоку*/
    width: 100%;
    overflow: hidden;
}
article img {/*розмір зображень слайдера*/
    width: 100%;

}
#desktop:checked ~ #slider {/*розмір усього слайдера поки активний чек*/
    max-width: 350px;
}
/*налаштування переключення і положення стрілки*/
/*якщо світч1-5 активні то йде запит до блоків і id controls*/
#switch1:checked ~ #controls label:nth-child(5),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4) {
background: url(icons8.png) no-repeat;/*заливка фону картинкою без повторів*/
float: left;
margin: 0 0 0 -84px; /*здвиг вліво*/
display: block;
height: 68px;
width: 68px;
}
#switch1:checked~#controls label:nth-child(2),
#switch2:checked~#controls label:nth-child(3),
#switch3:checked~#controls label:nth-child(4),
#switch4:checked~#controls label:nth-child(5),
#switch5:checked~#controls label:nth-child(1) {
    background-image: href="arrow-back.png" no-repeat;
    /*заливка фону картинкою без повторів*/
    float: right;
    margin: 0 -84px 0 0 ;
    /*здвиг вправо*/
    display: block;
    height: 68px;
    width: 68px;
}
label, a {
    cursor: pointer;
}
.all input {
    display: none;
}
#switch1:checked ~ #slides img {
margin-left: 0;
}
#switch2:checked~#slides img {
    margin-left: -100%;
}
#switch3:checked~#slides img {
    margin-left: -200%;
}
#switch4:checked~#slides img {
    margin-left: -300%;
}
#switch5:checked~#slides img {
    margin-left: -400%;
}
#controls {
    margin: -25% 0 0 0;
    width: 100%;
    height: 50px;
}
#active label {
border-radius: 10px;
display: inline-block;
width: 15px;
height: 15px;
background: #bbb;
}
#active {/*розміщення блоку з перемикачами*/
    margin: 23% 0 0;
    text-align: center;
}
#active label:hover {/*поводження чекбокса при наведенні*/
    background: #76c8ff;
    border-color: #777 !important;

}
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5) {
    background: #18a3dd;
    border-color: #18a3dd !important;
}
#slides image {
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
#controls label:hover {
    opacity: 0.6;
}
#controls label {
    transition: opacity 0.2s ease-out;
}